@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-item div {
  width: 258px !important;
  height: 400px !important;
}

@media screen and (max-width: 768px ) {
  .react-multi-carousel-item div {
    height: auto !important;
  }
}